guitar {
  display: table;
}

string {
  display: table-row;
}

fret {
  display: table-cell;
  text-align: center;
  // border: 1px solid;
  padding: 1rem;

  background: #777;
  color: #aaa;
  border-bottom: 1px solid #777;
  border-right: 1px solid #777;
}
string:first-child fret {
  border-top: 1px solid #777;
}
fret:first-child {
  border-left: 1px solid #777;
}

fret:nth-child(-n+7) {
  width: 90px;
}

fret.in-key {
  background: white;
  color: black;
}